<style>
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
</style>
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
    background: #dadada;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
display: flex;
align-items: center;
max-width: 100%;
justify-content: space-between;
background: flex;
align-items: center;
justify-content: space-between;
background: #131921;
padding: 20px 10px;
color: #fff;

}
.nav-search{
    flex: 1;
    display: flex;
    align-items: centre;
    background: #fff;
    color: gray;
    max-width: 100%;
    border-radius: 8px;
    margin-left: 10px;
}
.nav-search-gategory{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    background: #e5e5ee;
    border-radius: 4px 0 0 4px;
}
.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}
    .nav-search-icon{
        max-width: 41px;
        padding: 8px;
        background: #ffd64f;
        border-radius: 0 4px 4px 0;
    }
    .nav-language{
       display: flex;
       align-items: center;
       gap: 5px; 
       font-weight: 600;
       margin-left: 15px;
    }
    .nav-text{
        margin-left: 15px;
    }
    .nav-text p{
        font-size: 10px;
    }
    .nav-text h1{
        font-size: 14px;
    }
    .nav-cart{
        display: flex;
        align-items: center;
        margin: 5px 15px;
    }

.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 2px 5px ;
    background: #232f3e;
    color: #fff;
    font-size: 10px;
}
.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 200;
}
.header-slider ul{
    display: flex;
    overflow-y: hidden;
}
.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom,#000000 50%, transparent 100%);
}
.header-slider a{
    position: absolute;
    top: 30%;
    z z-index: 1;
    padding: 5vh 1vw;
    background: #ffffff4f;
    color:#0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.control_next{
    right: 0;
}
.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 1px 13px;
}
.box-col{
    display: flex;
    flex-direction: column;
    gap: 1px;
    column-gap: 1px;
    padding: 10px 10px;
    background: #fff;
    max-width: 12%;
    min-width: 100px;
}
.products-slider{
    background:#fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.products-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}
.products-slider .products img{
    max-width: 200px;
    max-height: 200;
}
.products-slider .products::-webkit-scrollbar{
    display: none;
}
.products-slider-with-price{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.products-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
font
}
,.products-slider-with-price .products::-webkit-scrollbar{
    display: none;
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfb;
}
.product-offer p{
    background: #be0b3b;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 8px 0px;
    font-size: 13px;
}
.product-offer span{
color: #be0b3b;
font-weight: 500;
font-size: 12px;
}

body{
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
}
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70x 0;
}
.footer-col{
  width: 15%;
  padding: 0 10px;  
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
  
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li :not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.social-links{
    color: #bbbbbb;
}

